.card {
	width:250px;
	border: 2px solid navy;
	border-radius: 10px;
	margin: 20px auto;
	padding-left: 40px ;
	background-color: papayawhip;
}

.quote {
	font-style: oblique;
	font-size: 18px;
	padding-right: 25px;
	color: blueviolet;
}