@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");

body {
	font-family: "TikTok Sans", sans-serif;
}

.html {
	background-color: papayawhip;
	font-size: 22px;
}

.codinginfo {
	color: yellow;
}

.HTML5 {
	color: orange;
}

.manga {
	color: red;
}

.videogames {
	color: green;
}

.aboutme {
	color: black;
}

#ProgrammingInfo {
	color: navy;
}

#H1 {
	border: outset 10px blue;
	border-radius: 15px;
	margin: 20px auto;
	padding: 20px;
	width: 300px;
	color: red;
	text-align: center;
	background-color: darkorchid;
}

.HTMLabbr {
	color: orange;
}

.CSSabbr {
	color: purple;
}

.IDEs {
	font-size: 26px;
}

.abouthtml {
	font-size: 22px;
	background-color: lightsteelblue;
}

.abouthtml .contactus {
	font-size: 1.5rem;
	color: green;
}

.infoh1 {
	border: 3px solid blue;
	border-radius: 10px;
	width: 300px;
	margin: 20px auto;
	padding: 20px;
	background: chocolate;
	text-align: center;
}

a:visited {
	color: purple;
}

a:hover {
	color: green;
}

a:active {
	color: gold;
}

li {
	list-style-image: url(images/list-style-image3.png) ;
}