.html {
	background-color: papayawhip;
	font-size: 22px;
}

.codinginfo {
	color: yellow;
}

.HTML5 {
	color: orange;
}

.manga {
	color: red;
}

.videogames {
	color: green;
}

.aboutme {
	color: black;
}

#ProgrammingInfo {
	font-family: monospace;
	color: navy;
}

#H1 {
	color: darkgoldenrod;
}

.HTMLabbr {
	color: orange;
}

.CSSabbr {
	color: purple;
}

#sec1 > p {
	font-style: oblique;
}

.IDEs {
	font-style: italic;
	font-size: 26px;
}

.abouthtml {
	font-size: 22px;
	background-color: lightsteelblue;
}

.abouthtml .contactus {
	font-size: 1.5rem;
	color: green;
}

.infospan {
	background: azure;
	padding: 2px;
	margin :18rem;
}
